language: php
sudo: enabled

services:
  - mysql
git:
  depth: 3

php:
  - 7.2

env:
  global:
    - HUMHUB_PATH=/opt/humhub

cache:
  directories:
    - $HOME/.composer/cache

install:
  - .travis/install-dependencies.sh
  - .travis/setup-humhub.sh

before_script:
  - $HOME/chromedriver --url-base=/wd/hub &
  - php --server 127.0.0.1:8080 --docroot ${HUMHUB_PATH} &>/dev/null &
  - sleep 5
  - curl --fail --head http://127.0.0.1:8080/index-test.php

script:
  - cd tests
  - ln -s ${HUMHUB_PATH}/protected/humhub/tests/config/env config/ # create symlink from /opt/humhub to config/
  - sed -i -e "s|../../../humhub/tests/config/env|config/env|g" codeception.yml # fix relative path for codeception
  - php ${HUMHUB_PATH}/protected/vendor/bin/codecept build
  - php ${HUMHUB_PATH}/protected/vendor/bin/codecept run --env travis

after_failure:
  - cd ..
  - .travis/upload-failure.sh
