/* space funding-overview page */
/* space product-overview page */

.layout-content-container .col-md-12 .content {
    background-color: white;
    display: inline-block;
    padding: 30px 0 10px;
}

.layout-content-container .crowd-funding .panel {
    border-radius: 8px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.layout-content-container .crowd-funding .panel::after {

    content: '';
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    box-shadow: 0 0 40px #c5c5c5;
    -webkit-box-shadow: 0 0 40px #c5c5c5;
    -moz-box-shadow: 0 0 40px #c5c5c5;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.layout-content-container .crowd-funding .panel:hover {
    transform: translate(0, -5px);
}

.layout-content-container .crowd-funding .panel:hover::after {
    opacity: 1;
}

.layout-content-container .crowd-funding .panel:hover::after {
    opacity: 1;
}

.layout-content-container .crowd-funding .panel-heading {
    padding: 0;
    position: relative;
}

.layout-content-container .crowd-funding .panel-heading > .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 1px 1px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.layout-content-container .crowd-funding .panel-heading > img {
    position: relative;
    width: 100%;
    min-height: 140px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    object-fit: contain;
    object-position: center;
}

.layout-content-container .crowd-funding .panel-heading .project-owner {
    position: absolute;
    bottom: -18px;
    left: 0;
    right: 0;
    text-align: center;
}

.layout-content-container .crowd-funding .panel-heading .project-owner div.space-acronym {
    display: block;
    margin: 0 auto;
    border: white 2px solid;
}

.layout-content-container .crowd-funding .panel-heading .project-owner img.profile-user-photo {
    border: white 2px solid;
}

.layout-content-container .crowd-funding .panel-heading .project-owner span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.layout-content-container .crowd-funding .panel-heading .project-owner strong {
    font-weight: 600;
}

.layout-content-container .crowd-funding .panel-body {
    margin-top: 20px;
    height: 100px;
}

.layout-content-container .crowd-funding .panel-body .funding-title {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.layout-content-container .crowd-funding .panel-body .media {
    margin-top: 6px;
}

.layout-content-container .crowd-funding .panel-body .media h4.media-heading {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.layout-content-container .crowd-funding .panel-footer {
    background-color: white;
    border: none;
    padding: 0;
}

.layout-content-container .crowd-funding .panel-footer .funding-progress {
    padding: 0 15px;
}

.layout-content-container .crowd-funding .panel-footer .funding-progress > div:not(.progress) {
    display: inline-block;
    font-size: 10px;
}

.layout-content-container .crowd-funding .panel-footer .funding-progress .clock::before {
    content: 'L';
    color: white;
    text-align: center;
    width: 100%;
    display: block;
    margin-left: 1px;
    font-size: 10px;
}

.layout-content-container .crowd-funding .panel-footer .funding-progress .clock {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background: gray;
    margin-right: 4px;
}

.layout-content-container .crowd-funding .panel-footer .funding-progress .clock.red {
    background: red;
}

.layout-content-container .crowd-funding .panel-footer .funding-progress .days {
    display: inline-block;
    vertical-align: middle;
}

.layout-content-container .crowd-funding .panel-footer .funding-progress .clock.red + .days {
    color: red;
}

.layout-content-container .crowd-funding .panel-footer .funding-progress .progress {
    width: 100%;
    height: 6px;
    margin-top: 3px;
    background: #e4e8eb;
}

.layout-content-container .crowd-funding .panel-footer .funding-progress .progress-bar {
    background-color: #9cd192;
}

.layout-content-container .crowd-funding .panel-footer .funding-details {
    margin: 0;
    padding: 0;
    border-top: 1px solid #f0f5f8;
}

.layout-content-container .crowd-funding .panel-footer .funding-details.large {
    padding: 10px 0;
}

.layout-content-container .crowd-funding .panel-footer .funding-details .col-md-12 {
    height: 42px;
    padding: 12px 15px;
    font-size: 12px;
    text-align: center;
}

/*.layout-content-container .crowd-funding .panel-footer .funding-details .col-md-12 {*/
/*    height: 30px;*/
/*}*/

/*.layout-content-container .crowd-funding .panel-footer .funding-details .col-md-6:first-of-type {*/
/*    border-right: 1px solid #f0f5f8;*/
/*}*/

.layout-content-container .crowd-funding .panel-footer .funding-details .col-md-12 span {
    vertical-align: middle;
    margin-right: 2px;
}

/* Funding overview */
/* Product overview */

.fundingPanel .panel.cover {
    overflow: hidden;
}

.fundingPanel .panel.cover .panel-heading {
    padding: 0;
    position: relative;
    overflow: hidden;
    border-radius: 0;
}

.fundingPanel .panel.cover .panel-heading .img-container {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.fundingPanel .panel.cover .panel-heading .img-container .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: 1px 1px;
}

.fundingPanel .panel.cover .panel-heading .img-container img {
    max-height: 400px;
    object-fit: contain;
}

.fundingPanel .panel.cover .panel-heading .edit-btn {
    position: absolute;
    top: 18px;
    left: 18px;
    color: black;
    background: white;
    border-radius: 20px;
    font-size: 14px;
    padding: 4px 12px;
    font-weight: bold;
}

.fundingPanel .panel.cover .panel-heading .delete-btn {
    position: absolute;
    top: 18px;
    left: 130px;
    color: white;
    background: red;
    border-radius: 20px;
    font-size: 14px;
    padding: 4px 12px;
    font-weight: bold;
}

.fundingPanel .panel.cover .panel-heading .review-btn-trusted {
    position: absolute;
    top: 18px;
    right: 18px;
    color: white;
    background: #5bea0987;
    border-radius: 20px;
    font-size: 14px;
    padding: 4px 12px;
    font-weight: bold;
}

.fundingPanel .panel.cover .panel-heading .review-btn-untrusted {
    position: absolute;
    top: 18px;
    right: 18px;
    color: white;
    background: #FF000087;
    border-radius: 20px;
    font-size: 14px;
    padding: 4px 12px;
    font-weight: bold;
}

.fundingPanel .panel.cover .panel-heading .edit-btn:hover {
    background: #cecece;
}

.fundingPanel .panel.cover .panel-heading .delete-btn:hover {
    background: #e40000;
}

.fundingPanel .panel.cover .panel-heading .review-btn-trusted:hover {
    background: #4AC309;
}

.fundingPanel .panel.cover .panel-heading .review-btn-untrusted:hover {
    background: #d60000;
}

.fundingPanel .panel.cover .panel-heading .edit-btn i,
.fundingPanel .panel.cover .panel-heading .delete-btn i,
.fundingPanel .panel.cover .panel-heading .review-btn-trusted i,
.fundingPanel .panel.cover .panel-heading .review-btn-untrusted i {
    margin-right: 6px;
}

.fundingPanel .panel.cover .panel-body {
    padding: 24px;
}

.fundingPanel .panel.cover .panel-body .funding-title {
    font-size: 16px;
    font-weight: bold;
    color: #202020;
}

.fundingPanel .panel.cover .panel-body .value {
    text-transform: uppercase;
    color: #202020;
}

.fundingPanel .panel.cover .panel-body .description {

}

/*.fundingPanel .panel.cover .panel-body .funding-details {*/
/*    border: #eaf1f6 solid 1px;*/
/*    box-shadow: 0 1px 0 0 #c5c5c5;*/
/*    -webkit-box-shadow: 0 2px 2px 0 #c5c5c5;*/
/*    -moz-box-shadow: 0 1px 0 0 #c5c5c5;*/
/*    padding: 10px 18px;*/
/*    border-radius: 8px;*/
/*    margin-bottom: 12px;*/
/*    text-align: center;*/
/*}*/

/*.fundingPanel .panel.cover .panel-body .funding-details .col-md-6:first-of-type {*/
/*    border-right: #eaf1f6 solid 1px;*/
/*}*/

/*.fundingPanel .panel.cover .panel-body .funding-details .col-md-6 {*/
/*    padding: 8px 0;*/
/*    text-align: center;*/
/*    font-size: 14px;*/
/*}*/

/*.fundingPanel .panel.cover .panel-body .funding-details .col-md-6 a {*/
/*    margin-left: 8px;*/
/*}*/

.fundingPanel .panel.cover .panel-body .description p {
    color: #202020;
    margin: 10px 0 40px;
}

.fundingPanel .panel.cover .panel-body .progress-info i.fa {
    font-size: 34px;
    color: #202020;
    margin-right: 6px;
    opacity: .25;
}

.fundingPanel .panel.cover .panel-body .progress-info i.fa + div strong {
    font-size: 12px;
}

.fundingPanel .panel.cover .panel-body .progress-info i.fa + div h6 {
    font-size: 10px;
}

.fundingPanel .panel.cover .panel-body .progress-info > div > * {
    display: inline-block;
}

.fundingPanel .panel.cover .panel-body .progress-info > div {
    color: #202020;
    display: inline-block;
    margin-right: 20px;
}

.fundingPanel .panel.cover .panel-body .progress-info h6 {
    margin: 0;
}

.fundingPanel .panel.cover .panel-body .funding-progress {
    /*padding: 0 15px;*/
}

.fundingPanel .panel.cover .panel-body .funding-progress > div:not(.progress) {
    display: inline-block;
    font-size: 12px;
}

/*.fundingPanel .panel.cover .panel-body .funding-progress .clock::before {*/
/*    content: 'L';*/
/*    color: white;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    display: block;*/
/*    margin-left: 1px;*/
/*    font-size: 10px;*/
/*}*/

/*.fundingPanel .panel.cover .panel-body .funding-progress .clock {*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    width: 18px;*/
/*    height: 18px;*/
/*    border-radius: 18px;*/
/*    background: gray;*/
/*    margin-right: 4px;*/
/*}*/

/*.fundingPanel .panel.cover .panel-body .funding-progress .clock.red {*/
/*    background: red;*/
/*}*/

/*.fundingPanel .panel.cover .panel-body .funding-progress .days {*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    color: gray;*/
/*}*/

/*.fundingPanel .panel.cover .panel-body .funding-progress .clock.red + .days {*/
/*    color: red;*/
/*}*/

.fundingPanel .panel.cover .panel-body .funding-progress .progress {
    width: 100%;
    height: 8px;
    margin-top: 3px;
    background: #e4e8eb;
}

.fundingPanel .panel.cover .panel-body .funding-progress .progress-bar {
    background-color: #9cd192;
}

.fundingPanel .panel.cover .panel-footer {
    background: none;
    border: none;
    padding: 0;
    text-align: center;
}

.fundingPanel .panel.cover .panel-footer .invest-btn {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    width: 100%;
    /*height: 0;*/
    /*-webkit-transition: height .25s ease-in-out;*/
    /*-moz-transition: height .25s ease-in-out;*/
    /*-ms-transition: height .25s ease-in-out;*/
    /*-o-transition: height .25s ease-in-out;*/
    /*transition: height .25s ease-in-out;*/
}

.fundingPanel .panel.cover .panel-footer .invest-btn a,
.fundingPanel .panel.cover .panel-footer .invest-btn button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    background: linear-gradient(to right, #3CBEEF, #28AA69);
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 26px 20px;
    font-size: 17px;
    font-weight: bold;
}

.fundingPanel .panel.cover .panel-footer .invest-btn button {
    outline: none;
    border: none;
}

.fundingPanel .panel.cover .panel-footer .invest-btn a:hover,
.fundingPanel .panel.cover .panel-footer .invest-btn button:hover {
    background: linear-gradient(to right, #24b6ed, #23955c);
}

.fundingPanel .panel.cover .panel-footer .invest-btn.disabled {
    cursor: not-allowed;
}

.fundingPanel .panel.cover .panel-footer .invest-btn.disabled a,
.fundingPanel .panel.cover .panel-footer .invest-btn.disabled button {
    pointer-events: none;
    display: inline-block;
    opacity: 0.5;
}

.fundingPanel .panel.content .panel-heading {
    padding: 20px 10px;
}

.fundingPanel .panel.content .panel-heading .col-md-4 {
    text-align: center;
}

.fundingPanel .panel.content .panel-heading img {
    border-radius: 6px;
}

/* global funding-overview page */
/* global marketplace page */

.fundingPanels > .panel > .panel-heading,
.fundingPanels > .panel > .panel-body {
    padding: 24px;
}

.fundingPanels .row .panel {
    border-radius: 8px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.fundingPanels .row .panel::after {

    content: '';
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    box-shadow: 0 0 40px #c5c5c5;
    -webkit-box-shadow: 0 0 40px #c5c5c5;
    -moz-box-shadow: 0 0 40px #c5c5c5;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.fundingPanels .row .panel:hover {
    transform: translate(0, -5px);
}

.fundingPanels .row .panel:hover::after {
    opacity: 1;
}

.fundingPanels .row .panel-heading {
    padding: 0;
    position: relative;
}

.fundingPanels .row .panel-heading > .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 1px 1px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.fundingPanels .row .panel-heading > img {
    position: relative;
    width: 100%;
    min-height: 140px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    object-fit: contain;
    object-position: center;
}

.fundingPanels .row .panel-heading .project-owner {
    position: absolute;
    bottom: -34px;
    left: 0;
    right: 0;
    text-align: center;
}

.fundingPanels .row .panel-heading .project-owner div.space-acronym {
    display: block;
    margin: 0 auto;
    border: white 2px solid;
}

.fundingPanels .row .panel-heading .project-owner img.profile-user-photo {
    border: white 2px solid;
}

.fundingPanels .row .panel-heading .project-owner span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.fundingPanels .row .panel-heading .project-owner strong {
    font-weight: 600;
}

.fundingPanels .row .panel-body {
    margin-top: 38px;
    height: 100px;
}

.fundingPanels .row .panel-body .funding-title {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.fundingPanels .row .panel-body .media {
    margin-top: 6px;
}

.fundingPanels .row .panel-body .media h4.media-heading {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.fundingPanels .row .panel-footer {
    background-color: white;
    border: none;
    padding: 0;
}

.fundingPanels .row .panel-footer .funding-progress {
    padding: 0 15px;
}

.fundingPanels .row .panel-footer .funding-progress > div:not(.progress) {
    display: inline-block;
    font-size: 10px;
}

.fundingPanels .row .panel-footer .funding-progress .clock::before {
    content: 'L';
    color: white;
    text-align: center;
    width: 100%;
    display: block;
    margin-left: 1px;
    font-size: 10px;
}

.fundingPanels .row .panel-footer .funding-progress .clock {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background: gray;
    margin-right: 4px;
}

.fundingPanels .row .panel-footer .funding-progress .clock.red {
    background: red;
}

.fundingPanels .row .panel-footer .funding-progress .days {
    display: inline-block;
    vertical-align: middle;
}

.fundingPanels .row .panel-footer .funding-progress .clock.red + .days {
    color: red;
}

.fundingPanels .row .panel-footer .funding-progress .progress {
    width: 100%;
    height: 6px;
    margin-top: 3px;
    background: #e4e8eb;
}

.fundingPanels .row .panel-footer .funding-progress .progress-bar {
    background-color: #28aa69;
}

.fundingPanels .row .panel-footer .funding-details {
    margin: 0;
    padding: 0;
    border-top: 1px solid #f0f5f8;
}

.fundingPanels .row .panel-footer .funding-details.large {
    padding: 10px 0;
}

.fundingPanels .row .panel-footer .funding-details .col-md-12{
    height: 42px;
    padding: 12px 15px;
    font-size: 12px;
    text-align: center;
}

/*.fundingPanels .row .panel-footer .funding-details .col-md-12 {*/
/*    height: 30px;*/
/*}*/

/*.fundingPanels .row .panel-footer .funding-details .col-md-6:first-of-type {*/
/*    border-right: 1px solid #f0f5f8;*/
/*}*/

.fundingPanels .row .panel-footer .funding-details .col-md-12 span {
    vertical-align: middle;
    margin-right: 2px;
}




/* miscs */

.container > .row > .col-md-12:not(.fundingPanels) {
    margin: 30px 0 0;
}

.status {
    line-height: 4;
}

.status a {
    text-transform: uppercase;
    color: #9a9a9a;
    margin-right: 20px;
}

.status a.active,
.status a:hover,
.status a:focus {
    color: #202020;
}

.sell-button {
    margin-bottom: 15px;
    margin-right: 15px;
}

.ether-btn {
    padding: 4px 16px;
}

i.ether-icon {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    background-image: url('../images/ethereum-brands.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 14px;
    height: 23px;
}

i.ether-icon-menu {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    background-image: url('../images/ethereum-brands-menu.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 13px;
    height: 20px;
    margin-right: 4px;
    vertical-align: bottom;
}

.pt-3 {
    padding-top: 3px;
}

.carousel-control {
    width: auto;
    bottom: unset;
    top: calc(50% - 70px/2);
    font-size: 36px;
    line-height: 1;
    padding: 15px 30px 19px;
    border-radius: calc(70px/2);
    opacity: 1;
    color: #202020;
}

.carousel-control:focus,
.carousel-control:hover {
    color: #202020;
}

.carousel-control.right {
    background: white;
    right: 20px;
    left: auto;
}

.carousel-control.left {
    background: white;
    right: auto;
    left: 20px;
}

.table .eth-qr-code {
    width: 100%;
    max-width: 250px;
}

.table .eth-address {
    font-size: 14px;
}


/* media queries*/

@media (max-width: 767px) {

    .fundingPanel .panel.cover .panel-heading .edit-btn {
        top: 16px;
        left: 16px;
        border-radius: 14px;
        font-size: 12px;
        padding: 4px 10px;
    }

    .carousel-control {
        top: calc(50% - 50px/2);
        font-size: 24px;
        padding: 11px 22px 14px;
        border-radius: calc(50px/2);
    }
}

@media (max-width: 559px) {

    .fundingPanel .panel.cover .panel-heading .edit-btn {
        top: 14px;
        left: 14px;
        border-radius: 12px;
        font-size: 10px;
        padding: 4px 8px;
    }

    .fundingPanel .panel.cover .panel-body .progress-info i.fa {
        font-size: 26px;
        margin-right: 2px;
    }

    .fundingPanel .panel.cover .panel-body .progress-info i.fa + div strong {
        font-size: 10px;
    }

    .fundingPanel .panel.cover .panel-body .progress-info i.fa + div h6 {
        font-size: 8px;
    }

    .fundingPanel .panel.cover .panel-footer .invest-btn a,
    .fundingPanel .panel.cover .panel-footer .invest-btn button {
        font-size: 14px;
    }

    .carousel-control {
        top: calc(50% - 36px/2);
        font-size: 18px;
        padding: 7px 16px 11px;
        border-radius: calc(36px/2);
    }

    .table .eth-qr-code {
        max-width: 180px;
    }

    .table .eth-address {
        font-size: 10px;
    }
}